BITCOIN_RPC_USER=bitcoinrpc
BITCOIN_RPC_PASSWORD=change-this-rpc-password
CLN_ALIAS=btc-compose-cln
MEMPOOL_DB_ROOT_PASSWORD=change-this-root-password
MEMPOOL_DB_NAME=mempool
MEMPOOL_DB_USER=mempool
MEMPOOL_DB_PASSWORD=change-this-db-password
